<header>
  <div class="container" style="text-align:center">
    <a href="/"><img src="assets/vn_logo.png" width="350" /></a>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span8">
      <div class = "order-online">
        <div class = "order-online-text bottom-spacing">
          <p>
            VN Grill works with OrderAhead for delivery and pickup.
            <br />
            Click the button below to place your order now!
          </p>
        </div>
        <div class = "button-row">
          <div class="bottom-spacing">
            <a href="https://www.orderaheadapp.com/places/1413/preparation_type/4" class="oa_button1"></a>
          </div>
          <div class="bottom-spacing">
            <a href="https://www.orderaheadapp.com/places/1413/preparation_type/0" class="oa_button2"></a>
          </div>
        </div>
        <div class = "order-online-text">
          <p>
            To order from your phone, download the
            <a href="https://www.orderaheadapp.com/download?c=2">iPhone</a> or
            <a href="https://www.orderaheadapp.com/download?c=2">Android</a> app.
          </p>
        </div>
      </div>

      <div class="header-big center-responsive">
        <a name="mission_statement"><h1>Mission Statement</h1></a>
      </div>
      <img src="assets/trad1_1.jpg" width="800">
      <img src="assets/trad2_2.jpg" width="800" style="padding-bottom:15px;">
      <div class="header-big center-responsive">
        <a name="our_menu"><h1>Our Menu</h1></a>
      </div>
      <img src="assets/Board1_1.jpg" width="800">
      <img src="assets/Board2_2.jpg" width="800">
      <img src="assets/Board3_3.jpg" width="800" style="padding-bottom:15px;">
      <div class="header-big center-responsive">
        <a name="contact_us"><h1>Contact Us</h1></a>
      </div>
      <div style="padding-bottom:30px;text-align:center;">
        <strong>
          1085 E. Brokaw Road
          <br />
          Suite #20
          <br />
          San Jose, CA 95131
          <br />
          (408) 441 - 7900
        </strong>
        <br /><br />
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=1085+E+Brokaw+Rd+San+Jose+CA&zoom=13&size=800x300&maptype=roadmap&markers=color:red%7C37.382875,-121.896395&sensor=false">
      </div>
    </div>
    <div class="span3 center-responsive" style="position:fixed;right:150px;">
      <ul class="list-line center-responsive">
        <li><a href="https://www.orderaheadapp.com/places/1413/preparation_type/4">Order Delivery</a></li>
        <li><a href="https://www.orderaheadapp.com/places/1413/preparation_type/0">Order Pickup</a></li>
        <li><a href="#mission_statement">Mission Statement</a></li>
        <li><a href="#our_menu">Our Menu</a></li>
        <li><a href="#contact_us">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>
