.order-online {
  text-align:center;
}

.order-online-text {
  font-size: 20px;
}

.bottom-spacing {
  margin-bottom: 5px;
}

.button-row {
  width: 100%;
  height:110px;
}

.oa_button1 {
  background: url('/assets/OA_buttons_logo1_delivery.png') no-repeat 0 0;
  width: 256px;
  height: 46px;
  display: inline-block;
  zoom: 1;
  -moz-transform: scale(1);
  -moz-transform-origin: 0 0;
}

.oa_button1:hover {
  background-position: 0 -92px;
}

.oa_button1:active {
  background-position: 0 -46px;
}

.oa_button2 {
  background: url('/assets/OA_buttons_logo1_pickup.png') no-repeat 0 0;
  width: 256px;
  height: 46px;
  display: inline-block;
  zoom: 1;
  -moz-transform: scale(1);
  -moz-transform-origin: 0 0;
}

.oa_button2:hover {
  background-position: 0 -92px;
}

.oa_button2:active {
  background-position: 0 -46px;
}

body {
  background: url('bg.jpg') no-repeat scroll 100% 0 #ffffff;
  font-family: Arial, sans-serif;
  font-size: 12px;
  -webkit-tap-highlight-color: #734e2f;
}

header {
  padding-top: 40px;
  margin-bottom: 50px;
}

.header-big {
  background: #ece8df;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= #f2f1eb , EndColorStr= #e5ded3 );
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f1eb), to(#e5ded3));
  background: -webkit-linear-gradient(#f2f1eb, #e5ded3);
  background: -moz-linear-gradient(top, #f2f1eb, #e5ded3);
  background: -ms-linear-gradient(#f2f1eb, #e5ded3);
  background: -o-linear-gradient(#f2f1eb, #e5ded3);
  background: linear-gradient(#f2f1eb, #e5ded3);
  zoom: 1;
  border-bottom: 1px solid #d3c9ba;
  -webkit-box-shadow: 0 0 40px rgba(110, 80, 54, 0.34);
  -moz-box-shadow: 0 0 40px rgba(110, 80, 54, 0.34);
  box-shadow: 0 0 40px rgba(110, 80, 54, 0.34);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 30px;
  margin-top: 15px;
}
.header-big h1 {
  margin: 0;
  color: #cec1b5;
  text-shadow: 1px 1px 1px #fff;
  line-height: 74px;
  padding: 0 20px;
  text-transform: uppercase;
  font-family: LeagueGothic;
  font-size: 39px;
  font-weight: normal;
}
.message {
  zoom: 1;
  overflow: hidden;
  width: 100%;
  background: #ece8e1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= #f3f1ec , EndColorStr= #e5dfd5 );
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f1ec), to(#e5dfd5));
  background: -webkit-linear-gradient(#f3f1ec, #e5dfd5);
  background: -moz-linear-gradient(top, #f3f1ec, #e5dfd5);
  background: -ms-linear-gradient(#f3f1ec, #e5dfd5);
  background: -o-linear-gradient(#f3f1ec, #e5dfd5);
  background: linear-gradient(#f3f1ec, #e5dfd5);
  zoom: 1;
  height: 43px;
  margin: 20px 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-spacing: 0;
}
.message:before {
  content: '';
  display: block;
}
.message:after {
  content: '';
  display: table;
  clear: both;
}
.message td {
  padding: 0;
}
.message p {
  padding: 0 15px;
}
.message .message-close {
  width: 25px;
  cursor: pointer;
  vertical-align: top;
  padding-top: 10px;
}
.message .message-icon {
  text-align: center;
  width: 43px;
}
.message .message-icon span {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 43px;
  background: url('bg-menu-olive.png') no-repeat scroll 0 100% transparent;
  display: block;
  height: 43px;
}
.message .message-icon span img {
  margin-top: 14px;
}

.list-line {
  list-style: none;
  padding: 0;
}
.list-line li {
  background: url('bg-list-line.png') no-repeat scroll 50% 100% transparent;
  font-family: LeagueGothic;
  font-size: 19px;
  text-transform: uppercase;
  color: #ac937e;
  text-shadow: 1px 1px 1px #fff;
  padding: 0 0 25px;
}
.list-line li a {
  color: #ac937e;
  text-shadow: 1px 1px 1px #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.list-line li a:hover {
  opacity: 0.7;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  text-decoration: none;
}

@media (max-width: 979px) {
  header #brand {
    float: none;
    text-align: center;
    margin-bottom: 35px;
  }
  header nav {
    float: none;
  }
  .button-text {
    padding: 0 8px !important;
  }
}
@media (max-width: 900px) {
  .carousel-control {
    display: none;
  }
}
@media (max-width: 768px) {
  .blog-photo {
    margin-bottom: 15px;
  }
  .center-responsive {
    text-align: center !important;
  }
  .center-responsive p {
    text-align: center !important;
  }
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px;
  }
}
@media (max-width: 480px) {
  header nav {
    background: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 0px 0px;
    -moz-box-shadow: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px;
    height: auto;
  }
  header nav  > ul {
    float: none;
    text-align: center;
  }
  header nav  > ul  > li {
    height: 30px;
    margin: 5px 0;
  }
  header nav  > ul  > li  > a {
    background: url('bg-menu-olive.png') no-repeat scroll 0 50% transparent;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    height: 30px;
    line-height: 32px;
    margin: 2px 0;
  }
  header nav  > ul  > li  > a.active {
    background: url('bg-menu-active.png') no-repeat scroll 0 50% transparent;
  }
  header nav .dropdown-menu {
    margin-top: 5px;
  }
  header nav .dropdown-menu a {
    height: 24px;
    line-height: 24px;
  }
  footer .comment-author {
    float: none;
    text-align: center;
  }
  footer .comment-author p {
    text-align: center;
  }
  footer .comment-content {
    margin-top: 10px;
  }
}

@media (max-width: 1000px) {
  #vn_grill_oo {
    display: none;
  }

  header {
    margin-top: -25px;
  }
}
