<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<html>
<head>
  <title>Vn Grill</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <script type="text/javascript" src="//asset-hosting.s3.amazonaws.com/2-156/jquery.min.js"></script>
  <script type="text/javascript" src="//pixel-track.s3.amazonaws.com/2-156/pixel.min.js"></script>
  <script type="text/javascript" src="//scripts.seo-optimizer.net/1/seo.min.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script type="text/javascript">
	iFrameResize({
		log                 : true, // Enable console logging
		enablePublicMethods : true, // Enable methods within iframe hosted page
	});
</script>
</body>
</html>
